C#/.vs
C#/**/.vs
C#/**/bin
C#/**/obj
Elixir/**/.elixir_ls
Elixir/**/*.secret.exs
**/node_modules
Javascript/Serverless/learning-serverless-aws/**/logs
Devops/**/.terraform
Devops/**/.terraform.lock.hcl
Devops/**/terraform.tfstate

Clojure/**/target
Clojure/**/classes
Clojure/**/checkouts
Clojure/**/profiles.clj
Clojure/**/pom.xml
Clojure/**/pom.xml.asc
Clojure/**/*.jar
Clojure/**/*.class
Clojure/**/.lein-*
Clojure/**/.nrepl-port
Clojure/**/.hgignore
Clojure/**/.hg/
